{# Twig template to render Date time Locaton block #}

{% block content %}
	<div class="date-time-location">
		<h2 class="time">{{time}}</h2>
		<p class="date">{{date}}</p>
		<p class="location">Time in {{city}}, {{country}}</p>
	</div>
{% endblock %}
